<section class="toDoList">
    <div class="example-container">
        <h2>To do</h2>
    
        <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doingList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
                <span class="editDragDrop" (click)="updateTask($event, item)">Editar</span>
                <span class="deleteDragDrop" (click)="deleteTask($event, item)">Deletar</span>
            </div>
        </div>
        </div>
    
    <div class="example-container">
        <h2>Doing</h2>
    
        <div
            cdkDropList
            #doingList="cdkDropList"
            [cdkDropListData]="doing"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of doing" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
                <span class="editDragDrop" (click)="updateTask($event, item)">Editar</span>
                <span class="deleteDragDrop" (click)="deleteTask($event, item)">Deletar</span>
            </div>
        </div>
    </div>
    
    <div class="example-container">
        <h2>Done</h2>
    
        <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, doingList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
                <span class="editDragDrop" (click)="updateTask($event, item)">Editar</span>
                <span class="deleteDragDrop" (click)="deleteTask($event, item)">Deletar</span>
            </div>
        </div>
    </div>
</section>